<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="persistence-poc" version="3.0">

	<display-name>persistence-poc</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>io.github.lordviktor.javaPersistencePoc.servlet.dataAccessLayer.JPAContextListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/spring-context.xml</param-value>
	</context-param>


	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>io.github.lordviktor.javaPersistencePoc.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/api/servlet/user</url-pattern>
	</servlet-mapping>

</web-app>